/* *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */
.App {
  display: flex;
  justify-content: center;

}
.todo-container{
  display: flex;
  flex-direction: column;
  width: 60vw;
  align-items: center;
  justify-content: center;
}
.todo-input-control{
  width: 60vw;
 
}
.todo-input-control input{
   width:70%;
   padding: 0.5rem;
   border-radius: 0px;
}
.todo-input-control button{
  padding: 0.6rem;
  background-color: rgb(193, 193, 212);
  width: 25%;
  border: none;
}
.data-container{
  width: 60vw;
}
.list-data{
  /* display: flex; */
  
  box-sizing: border-box;
  width:60vw;
  border: 2px solid red;
  text-align: justify;
  
}
.list-data p{
  box-sizing:border-box;
  margin:5px;
  font-size: 1.5rem;
}
.list-data >div{

  text-align: right;
}
.list-data button{
  font-size: 1rem;
  padding: 0.5rem;
  margin-left: 4px;
}









